<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <h1><%= title %></h1>
    <a href="/new-animal">Add your national animal</a>
    <div>
      <span>Select animal type</span>
      <span>
        <a href="/">All</a>
        <a href="/?animal_type=Amphibian">Amphibian</a>
        <a href="/?animal_type=Bird">Bird</a>
        <a href="/?animal_type=Fish">Fish</a>
        <a href="/?animal_type=Invertebrate">Invertebrate</a>
        <a href="/?animal_type=Mammal">Mammal</a>
        <a href="/?animal_type=Reptile">Reptile</a>
      </span>
    </div>
  </header>
  <div class="cards-container">
    <%- countries.length ? "" : `<strong>No ${type?.toLowerCase() || "" } animal type found</strong>` %>
    <% countries.forEach(function (row) { %>
    <article class="card">
      <span class="card__btns">
        <a href="/delete/<%= row.country_id %>-<%= row.animal_id %>-<%= row.animal_type_id %>" onclick="return authenticateUser('delete')">
          Delete
        </a>
        <a href="/update/<%= row.country_id %>-<%= row.animal_id %>-<%= row.animal_type_id %>" onclick="return authenticateUser('update')">Edit</a>
      </span>
      <div class="card__country"><%= row.country %></div>
      <div class="card__animal">
        <span><%= row.national_animal %></span>
        <span class="card__animal-type"><%= row.type %></span>
      </div>
    </article>
    <% }) %>
  </div>
  <script>
    function authenticateUser(action) {
      const password = prompt("Please enter your password");
      if (password === "0987") {
        return true;
      } else {
        alert(`Sorry, you don't have the admin privilege to ${action} the card.`);
        return false;
      };
    }
  </script>
</body>

</html>