<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <h1><%= title %></h1>
    <a href="/new-animal">Add your national animal</a>
  </header>
  <div class="cards-container">
    <% countries.forEach(function (row) { %>
    <article class="card">
      <span class="card__btns">
        <a href="#">Delete</a>
        <a href="/update/<%= row.country_id %>">Edit</a>
      </span>
      <div class="card__country"><%= row.country %></div>
      <div class="card__animal">
        <span><%= row.national_animal %></span>
        <span class="card__animal-type"><%= row.type %></span>
      </div>
    </article>
    <% }) %>
  </div>
</body>

</html>