<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <h1><%= title %></h1>
    <nav>
      <span class="type-list-btns-container">
        <a href="/" class="<%= clickedTypeBtn === undefined ? 'active' : '' %> animal-type-btn">
          All
        </a>
        <a href="/?animal_type=Amphibian" class="<%= clickedTypeBtn === 'Amphibian' ? 'active' : '' %> animal-type-btn">
          Amphibian
        </a>
        <a href="/?animal_type=Bird" class="<%= clickedTypeBtn === 'Bird' ? 'active' : '' %> animal-type-btn">
          Bird
        </a>
        <a href="/?animal_type=Fish" class="<%= clickedTypeBtn === 'Fish' ? 'active' : '' %> animal-type-btn">
          Fish
        </a>
        <a href="/?animal_type=Invertebrate" class="<%= clickedTypeBtn === 'Invertebrate' ? 'active' : '' %> animal-type-btn">
          Invertebrate
        </a>
        <a href="/?animal_type=Mammal" class="<%= clickedTypeBtn === 'Mammal' ? 'active' : '' %> animal-type-btn">
          Mammal
        </a>
        <a href="/?animal_type=Reptile" class="<%= clickedTypeBtn === 'Reptile' ? 'active' : '' %> animal-type-btn">
          Reptile
        </a>
      </span>
      <span class="add-btn-container"><a href="/new-animal" class="add-new-btn">Add new</a></span>
    </nav>
  </header>
  <div class="cards-container">
    <%- countries.length ? "" : `<strong>No ${type?.toLowerCase() || "" } animal type found</strong>` %>
    <% countries.forEach(function (row) { %>
    <article class="card">
      <span class="card__btns">
        <a href="/delete/<%= row.country_id %>-<%= row.animal_id %>-<%= row.animal_type_id %>" onclick="return authenticateUser('delete')">
          Delete
        </a>
        <a href="/update/<%= row.country_id %>-<%= row.animal_id %>-<%= row.animal_type_id %>" onclick="return authenticateUser('update')">Edit</a>
      </span>
      <div class="card__country"><%= row.country %></div>
      <div class="card__animal">
        <span><%= row.national_animal %></span>
        <span class="card__animal-type"><%= row.type %></span>
      </div>
    </article>
    <% }) %>
  </div>
  <script>
    function authenticateUser(action) {
      const password = prompt("Please enter your password");
      if (password === "0987") {
        return true;
      } else {
        alert(`Sorry, you don't have the admin privilege to ${action} the card.`);
        return false;
      };
    }
  </script>
</body>

</html>